# === Ignore tous les dossiers de données sauf test/filtered_views ===
train/
valid/
test/*
!test/filtered_views/

# === Ignore les résultats d'entraînement YOLOv8 ===
runs/
*.pt

# === Ignore les images individuelles ===
*.jpg
*.jpeg
*.png

# === Ignore les fichiers temporaires ===
__pycache__/
.ipynb_checkpoints/
*.log

